@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("./assets/fonts/Roboto-Regular.ttf") format('truetype'),
  url("./assets/fonts/roboto-regular-webfont.woff") format('truetype'),
  url("./assets/fonts/roboto-regular-webfont.woff2") format('truetype');
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
}

$primary_blue_color: #4044ED;
$primary_white_color: rgba(255, 255, 255, 0.87);

:host {
  --btn-bg-color: #4044ED;
  --btn-size: 400px;
}
